td.beacon_config {
  white-space: pre;
}

td.beacon_value {
  white-space: pre-wrap;
}

#page_beacons {
  width: 100%;
}

.beacons {
  padding: 0;
}

td.disabled_beacon,
td.waiting {
  color: gray;
}
