/* css for controls */

input,
select {
  background-color: var(--color-background-control);
  color: var(--color-text-strong);
  padding: 7px 10px;
  display: inline-block;
  margin-bottom: 15px;
  font-size: 14px;
  width: 60%;
  min-width: 200px;
}

input[type="text"],
input[type="password"],
select {
  border: 2px solid var(--color-border-control);
  border-radius: 2px;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus {
  border: 2px solid var(--color-border-accent);
}

input[type="submit"] {
  background-color: var(--color-text-accent);
  color: var(--color-text-inverse);
  border: 0;
  margin-top: 5px;
  margin-bottom: 0;
  cursor: pointer;
  box-shadow: var(--color-shadow-button);
  width: 20%;
  min-width: 200px;
}

input[type="submit"]:active:hover {
  box-shadow: 0 0 0;
}

input:disabled {
  cursor: default;
  opacity: 0.2;
}

/* end */
