/* The container <div> - needed to position the menu-dropdown content */
.menu-dropdown {
  cursor: deafult;
}

div.search-box .menu-dropdown {
  margin: 0 10px 0 0;
}

/*
div.panel > .menu-dropdown {
  xmargin: 0 0 0 0;
}
*/

/* Dropdown Content (Hidden by Default) */
.run-command-button .menu-dropdown-content {
  display: none;
  position: absolute;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: visible;
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 5;
  cursor: pointer;
}

/* Links inside the menu-dropdown */
.dropdown .dropdown-content div:not(.menu-item-hidden),
.run-command-button .menu-dropdown-content div:not(.menu-item-hidden) {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  padding: 15px 30px 15px 30px;
  margin: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* Change color of menu-dropdown links on hover */
.run-command-button .menu-dropdown-content div:hover {
  background: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* Show the menu-dropdown menu on hover */
.run-command-button:hover .menu-dropdown-content {
  display: block;
}

pre.output span.menu-dropdown {
  font-weight: normal;
}

pre.output div.menu-dropdown-content {
  font-family: SaltguiFont, Roboto, Helvetica, Arial, sans-serif;
  font-weight: normal;
}

pre.output .run-command-button {
  margin-bottom: 0;
}

pre.output .run-command-button:hover .menu-dropdown {
  background-color: #f9f9f9;
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.dropdown:hover .dropdown-content {
  display: block;
}
