/* The container <div> - needed to position the menu-dropdown content */
.menu-dropdown {
  padding: 5px 20px 5px 20px;
  cursor: pointer;
}

header .menu-dropdown {
  font-size: 45px;
  transform: scale(1.3, 1) translate(-4px, -10px);
  padding: 5px 10px 5px 10px;
}

header .menu-dropdown-content {
  transform: translate(-12px, -14px);
}

/* Dropdown Content (Hidden by Default) */
.run-command-button .menu-dropdown-content {
  display: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  background-color: #e0e0e0;
  border: 10px solid #e0e0e0;
  z-index: 5;
  cursor: pointer;
}

/* Links inside the menu-dropdown */
.run-command-button .menu-dropdown-content div {
  display: block;
  float: left;
  clear: both;
  margin: 3px;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
}

/* Change color of menu-dropdown links on hover */
.run-command-button .menu-dropdown-content div:hover {
  background-color: #efefef;
  cursor: pointer;
}

/* Show the menu-dropdown menu on hover */
.run-command-button:hover .menu-dropdown-content {
  display: block;
}

/* Change the background color of the menu-dropdown button when the menu-dropdown content is shown */
.run-command-button:hover .menu-dropdown {
  background-color: #efefef;
}
