#page-job .job-info {
  margin: 10px;
}

#page-job .time {
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 10px;
}

#page-job .job-menu {
  display: inline;
}

#page-job .highlight-task {
  background-color: gray;
}
