#job-panel .time {
  font-size: 15px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 5px;
}

#job-panel .highlight-task {
  background-color: gray;
}

#summary-list-job {
  /* some room for the triangle (when shown) */
  margin-right: 0.7em;
}

.triangle {
  /* some room for the triangle */
  margin-left: 0.7em;
  margin-right: 0.7em;
}

.task-icon {
  /* some room for the marker */
  margin-right: 0.7em;
}

.minion-output {
  margin-left: 0.7em;
}

.minion-output-single {
  display: inline;
}

.minion-output-multiple {
  display: block;
}
