#page_login {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #263238;
  position: absolute;
  height: 100%;
  top: 0;
}

#login-form {
  align-self: center;
  background-color: white;
  padding: 0px 50px;
  box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.7);
  border-radius: 2px;
}

#login-form h1 {
  text-align: center;
  margin: 38px 0px;
  margin-bottom: 23px;
  font-weight: lighter;
  font-size: 60px;
  width: 100%;
}

#login-form input {
  width: 100%;
  font-size: 18px;
}

#login-form input[type='success'] {
  width: 100%;
}

#login-form select {
  color: black;
  width: 100%;
  font-size: 14px;
}
#login-form select option#eauth_default {
  color: gray;
}
#login-form select option {
  color: black;
}
#login-form select optgroup {
  color: black;
}

.attribution {
  opacity: 0.4;
  font-size: 15px;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.attribution img {
  width: 25px;
}

.notice-wrapper {
  height: 0;
  overflow-y: hidden;
  margin-bottom: 15px;
}

.notice-wrapper.show {
  animation-name: shownotice;
  animation-iteration-count: 1;
  animation-duration: 5s;
}

@keyframes shownotice {
  0% { height: 0px; }
  20% { height: 38px; }
  80% { height: 38px; }
  100% { height: 0px; }
}

.notice {
  color: white;
  padding: 9px 0px;
  border-radius: 2px;
  text-align: center;
  font-size: 15px;
}
