#login-panel {
  padding: 0 50px;
  border-radius: 20px;
  margin-top: 50px;
}

#login-panel h1 {
  text-align: center;
  margin: 38px 0;
  margin-bottom: 23px;
  font-weight: lighter;
  font-size: 60px;
  width: 100%;
  color: #505050;
}

#login-panel input {
  width: 100%;
  display: block;
  font-size: 18px;
}

#login-panel select {
  width: 100%;
  font-size: 14px;
}

#login-panel select option#eauth-default {
  color: gray;
}

.attribution {
  display: block;
  opacity: 0.4;
  font-size: 15px;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.attribution img {
  width: 25px;
}

#notice-wrapper {
  margin-bottom: 15px;
}

#notice {
  height: 0;
  overflow-y: hidden;
  color: white;
  padding: 0;
  border-radius: 2px;
  text-align: center;
  font-size: 15px;
  animation-name: show-notice;
  animation-iteration-count: 1;
  animation-duration: 5s;
}

@keyframes show-notice {
  0% {
    height: 0;
    padding: 0;
  }

  20% {
    height: 38px;
    padding: 9px 0;
  }

  80% {
    height: 38px;
    padding: 9px 0;
  }

  100% {
    height: 0;
    padding: 0;
  }
}

#notice.notice_session_expired {
  /* keep this one visible because user is likely not present when this happens */
  animation-name: show-notice-session-expired;
  height: 38px;
  padding: 9px 0;
}

@keyframes show-notice-session-expire {
  0% {
    height: 0;
    padding: 0;
  }

  20% {
    height: 38px;
    padding: 9px 0;
  }
}
