body {
  margin: 0;
  padding: 0;
  background-color: #263238;
  font-family: Roboto, Helvectia, Arial, sans-serif;
}

header {
  border-top: 2px solid #4CAF50;
  background-color: white;
  margin-top: 0;
  padding: 12px 24px 14px 24px;
  margin-bottom: 5px;
}

.logo {
  cursor: pointer;
}

h1 {
  font-weight: lighter;
  font-size: 30px;
  margin: 0;
  display: inline-block;
}

.panel {
  background-color: white;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 1px;
  margin-right: 10px;
}

.panel:last-of-type {
  margin-right: 0;
}

.panel h1 {
  font-size: 20px;
}

.fab {
  background-color: #4caf50;
  padding: 5px 18px 17px 14px;
  display: inline-block;
  font-weight: bold;
  font-size: 30px;
  border-radius: 2px;
  color: white;
  transform: scale(0.8) translate(23px, -11px);
  cursor: pointer;
  float: right;
}

.fab:hover {
  opacity: 0.95;
}

.route {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s; /* Can be used to add transitions between views */
  position: absolute;
  width: 100%;
}

.route.current {
  opacity: 1;
  pointer-events: all;
  z-index: 2;
}

.run-command {
  z-index: 3;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1px;
}

.popup {
  width: 100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: 2;
  display: block;
}

.popup::before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.86);
}

.popup h1 {
  font-weight: normal;
  font-size: 30px;
  margin: 0;
  margin-bottom: 20px;
}

input {
  display: block;
  padding: 7px 10px;
  margin-bottom: 15px;
  border-radius: 2px;
  border: 2px solid #e2e2e2;
  font-size: 14px;
  color: #272727;
  width: 60%;
  min-width:200px;
}

input:focus {
  outline: none;
  border: 2px solid rgba(76, 175, 80, 0.53);
}

input[type='submit'] {
  background-color: #4CAF50;
  color: white;
  border: 0;
  margin-top: 25px;
  cursor: pointer;
  box-shadow: 0px 4px 2px rgba(33, 33, 33, 0.2);
  transition: box-shadow 0.2s;
  margin-bottom: 0;
  width: 20%;
  min-width:200px;
}

input[type='submit']:active:not([disabled]) {
  transform: scale(0.98);
  box-shadow: 0px 3px 1px rgba(33, 33, 33, 0.2);
}

input[disabled] {
  background-color: #292929;
  opacity: 0.2;
  cursor: default;
}

.run-command {
  padding: 30px;
  max-width: calc(100% - 90px);
  width: calc(90% - 90px);
}

.run-command input[type='submit'] {
  margin-bottom: 20px;
}

.run-command pre {
  background-color: #272727;
  color: white;
  margin: 0;
  padding: 10px;
  border-radius: 2px;
  overflow-y: scroll;
  white-space: pre-wrap;
  max-width: calc(100% - 10px);
  width: calc(100% - 10px);
  height:250px;
}

*:focus {
  outline: none;
}
