#options-table input {
  width: initial;
  min-width: initial;
}

label {
  margin-left: 5px;
}

#options-table label {
  margin-right: 20px;
}

#options-table tr td {
  white-space: pre-wrap;
  vertical-align: top;
}

#stats-table tr td {
  white-space: pre-wrap;
}
