.dashboard {
  width: 100%;
  display: flex;
}

.dashboard .panel {
  width: 100%;
}

.dashboard .panel#login-panel {
  width: initial;
}

pre a.disabled {
  color: inherit;
}

pre a.disabled:hover {
  text-decoration: none;
}

pre.output a {
  color: yellow;
  cursor: pointer;
}

form a:link,
pre a:link {
  text-decoration: none;
}

form a:hover,
pre a:hover {
  text-decoration: underline;
}

pre.output div {
  margin-top: 10px;
}

pre.output div:first-of-type {
  margin-top: 0;
}

pre .minion-id.host-success {
  color: lime;
}

pre .minion-id.host-failure {
  color: red;
}

pre .task-failure {
  cursor: pointer;
  color: red;
}

pre .minion-id.host-skips,
pre .minion-id.host-no-response {
  color: yellow;
}

pre .task-skipped {
  cursor: pointer;
  color: yellow;
}

pre .minion-id {
  color: #4caf50;
}

pre .task-success {
  cursor: pointer;
  color: lime;
}

pre .task-changes {
  text-decoration-line: overline underline;
  text-decoration-style: double;
}

pre span.active {
  color: greenyellow;
  font-weight: bold;
}

table {
  min-width: 100%;
  border-spacing: 5px;
  border-collapse: collapse;
}

table tr th {
  border-bottom: 3px double #4caf50;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  min-width: 20px;
  white-space: nowrap;
  cursor: pointer;
}

table tr td {
  padding-right: 20px;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  white-space: nowrap;
}

.no-job-status {
  color: gray;
}

.no-job-details {
  color: gray;
}

table thead th,
table tbody td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #505050;
}

table thead th {
  border-bottom: 2px solid #ddd;
}

table tr td:last-child {
  width: 100%;
}

table tr:last-of-type td {
  border-bottom: none;
}

table tr td:last-of-type {
  padding-right: 0;
}

.value-none {
  opacity: 0.4;
}

.menu-item-hidden {
  display: none;
}

.run-command-button {
  color: #263238;
  cursor: pointer;
}

.run-command-button:hover {
  color: #2e7d32;
}

#template-menu-here {
  display: inline;
}

.minions td.address > span {
  color: #3f51b5;
  cursor: copy;
  position: relative;
}

.jobs td.details > span,
.jobs td.job-status > span {
  position: relative;
}

.accepted {
  color: #00a000;
}

.denied {
  color: #f0f;
}

.unaccepted {
  color: #f00;
}

.rejected {
  color: #00f;
}

.offline {
  color: red;
}

.osimage {
  max-width: 18px;
  max-height: 18px;
  padding-right: 5px;
  box-sizing: content-box;
  vertical-align: middle;
}

#popup-run-command {
  display: none;
}

.jobs td .target {
  font-weight: 500;
  font-size: 18px;
  color: #505050;
  white-space: nowrap;
}

.jobs td .function {
  font-weight: 500;
  font-size: 14px;
  color: #3a3a3a;
}

.jobs td .time {
  font-size: 11px;
}

.job-status {
  font-size: 12px;
}

#jobs-panel .job-status {
  font-size: inherit;
}

.highlight-rows tbody tr:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.no-filter-match {
  display: none;
}

.filter-text {
  flex-grow: 1;
}

@media (max-width: 800px) {
  .minions {
    min-width: 0;
  }

  .dashboard {
    display: block;
  }

  .dashboard .panel {
    width: auto;
  }
}
