#page_minions,
#page_keys {
  width: 100%;
}

.dashboard {
  display: flex;
  align-items: flex-start;
  margin: 10px;
}

.dashboard .panel {
  width: 100%;
}

pre .hostname {
  color: #4caf50;
  display: inline-block;
  margin-top: 12px;
}

pre .hostname:first-of-type {
  margin-top: 0;
}

.minions {
  min-width: 620px;
}

.minions,
.jobs {
  padding: 0;
}

.minions li {
  list-style: none;
  border-bottom: 1px solid #4caf50;
  padding: 10px 0;
  position: relative;
}

.jobs li {
  list-style: none;
  border-bottom: 1px solid #4caf50;
  padding: 10px 18px;
}

.minions li:last-of-type {
  border-bottom: 0;
}

.minions li div {
  display: inline-block;
  margin-left: 0;
  margin-right: 20px;
}

.minions li .run-command-button {
  color: #263238;
  cursor: pointer;
  margin-right: 0;
}

.minions li .run-command-button:hover {
  color: #2e7d32;
}

.minions li .hostname {
  font-weight: 500;
  font-size: 17px;
  min-width: 240px;
}

.minions li .status {
  min-width: 120px;
}

.minions li .address {
  color: #3f51b5;
  cursor: pointer;
  position: relative;

  /* Screw browser prefixes, am I right?! */
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.minions li .address::before,
.minions li .address::after {
  opacity: 0;
  pointer-events: none;
}

.minions li .address::before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin: 0 0 5px -50px;
  padding: 5px 7px;
  border-radius: 3px;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: "Click to copy";
  text-align: center;
  font-size: 14px;
}

.minions li .address:focus::before {
  content: "Copied!";
  left: 68%;
}

.minions li .address::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
}

.minions li .address:hover::before,
.minions li .address:hover::after {
  opacity: 1;
}

.minions li .os {
  min-width: 120px;
}

.minions li .accepted {
  color: #00a000;
}

.minions li .denied {
  color: #f0f;
}

.minions li .unaccepted {
  color: #f00;
}

.minions li .rejected {
  color: #00f;
}

.minion_active {
  background: whitesmoke;
}

#popup_runcommand {
  display: none;
}

.jobs li:last-of-type {
  border: 0;
}

.jobs li .function {
  font-weight: 500;
  font-size: 14px;
  color: #3a3a3a;
  display: inline-block;
}

.jobs li .target {
  font-weight: 500;
  font-size: 18px;
  color: #505050;
}

.jobs li .time {
  font-size: 11px;
  margin-top: 3px;
}

.jobs li:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.job-list {
  flex-basis: 50%;
}

@media (max-width: 800px) {
  .minions {
    min-width: 0;
  }

  .dashboard {
    display: block;
  }

  .dashboard .panel {
    width: auto;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
