#page_minions,
#page_keys {
  width: 100%;
}

.dashboard {
  display: flex;
  align-items: flex-start;
  margin: 10px;
}

.dashboard .panel {
  width: 100%;
}

.collapsed {
  color: red;
  max-height: calc(1em + 8px);
  overflow-y: hidden;
}

pre a {
  color: yellow;
}

pre a:link {
  text-decoration: none;
}

pre.output div {
  margin-top: 10px;
  margin-bottom: 10px;
}

pre.output div:first-of-type {
  margin-top: 0;
}

pre .hostname.host_failure {
  color: red;
}

pre .hostname.host_skips,
pre .hostname.host_noresponse {
  color: yellow;
}

pre .hostname {
  color: #4caf50;
}

table {
  min-width: 100%;
  border-spacing: 5px;
}

table tr th {
  border-bottom: 3px double #4caf50;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  min-width: 20px;
}

table tr td {
  border-bottom: 1px solid #4caf50;
  padding-right: 20px;
  vertical-align: top;
  padding-top: 5px;
  padding-bottom: 5px;
  white-space: nowrap;
}

table tr td:last-child {
  width: 100%;
}

table tr td.subtitle {
  padding-top: 30px;
  font-size: 20px;
}

table tr:last-of-type td {
  border-bottom: none;
}

table tr td:last-of-type {
  padding-right: 0;
}

.run-command-button {
  color: #263238;
  cursor: pointer;
}

.run-command-button:hover {
  color: #2e7d32;
}

.minions td.address {
  color: #3f51b5;
  cursor: pointer;
  position: relative;
}

.minions td.address::before,
.minions td.address::after {
  opacity: 0;
  pointer-events: none;
}

.minions td.address::before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin: 0 0 5px -50px;
  padding: 5px 7px;
  border-radius: 3px;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: "Click to copy";
  text-align: center;
  font-size: 14px;
}

.minions td.address:focus::before {
  content: "Copied!";
  left: 68%;
}

.minions td.address::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
}

.minions td.address:hover::before,
.minions td.address:hover::after {
  opacity: 1;
}

.minions td.accepted {
  color: #00a000;
}

.minions td.denied {
  color: #f0f;
}

.minions td.unaccepted {
  color: #f00;
}

.minions td.rejected {
  color: #00f;
}

#popup_runcommand {
  display: none;
}

.jobs td .target {
  font-weight: 500;
  font-size: 18px;
  color: #505050;
}

.jobs td .function {
  font-weight: 500;
  font-size: 14px;
  color: #3a3a3a;
}

.jobs td .time {
  font-size: 11px;
}

.jobs td:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.job-list {
  /* the left panel has the default 100%, therefore the radio is 2/3 vs 1/3 */
  flex-basis: 50%;
}

@media (max-width: 800px) {
  .minions {
    min-width: 0;
  }

  .dashboard {
    display: block;
  }

  .dashboard .panel {
    width: auto;
    margin-bottom: 10px;
  }
}
