#page_pillars {
  width: 100%;
}

.pillars {
  padding: 0;
}

.pillars li .pillar_value {
  white-space: pre-wrap;
}

.pillar_hidden {
  cursor: pointer;
}

.pillar_shown {
  cursor: pointer;
  white-space: pre;
}
