.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 14px;
  background-color: hsla(0, 0%, 20%, 0.8);
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 3px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  position: absolute;
  /* float the tooltip above its target */
  z-index: 1;
  bottom: 140%;
  /* center the tooltip above its target */
  left: 50%;
  transform: translate(-50%, 0);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover {
  background-color: #e0e0e0;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: hsla(0, 0%, 20%, 0.8) transparent transparent transparent;
}
