.tooltip {
  position: relative;
}

.tooltip > .tooltip-text {
  visibility: hidden;
  font-size: 14px;
  background-color: rgba(76, 175, 80, 0.8); /* #4caf50 */
  color: white;
  padding: 7px;
  border-radius: 3px;
  position: absolute;
  white-space: pre;

  /* point the tooltip to its target */
  left: 50%;

  /* float the tooltip above its target */
  z-index: 10;
  bottom: calc(100% + 8px);
}

.tooltip > .tooltip-text-bottom-left {
  text-align: left;
  transform: translate(-10%, 0);
}

.tooltip > .tooltip-text-bottom-center {
  text-align: center;
  transform: translate(-50%, 0);
}

.tooltip > .tooltip-text-bottom-right {
  text-align: right;
  transform: translate(-95%, 0);
}

.tooltip:hover {
  /* only slightly darker than 'whitesmoke(#f5f5f5)' */
  background-color: #e0e0e0;
}

.tooltip:hover > .tooltip-text {
  visibility: visible;
}

pre.output .tooltip > .tooltip-text {
  background-color: rgba(76, 175, 80, 0.8); /* #4caf50 */
}

pre.output .tooltip:hover {
  /* only slightly lighter than '#272727' */
  background-color: #484848;
}

/* The arrow/triangle of the tooltip */

.tooltip > .tooltip-text::after {
  font-size: 8px;
  content: " ";
  position: absolute;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  top: 100%;
  border-color: rgba(76, 175, 80, 0.8) transparent transparent transparent;
}

.tooltip > .tooltip-text-bottom-left::after {
  left: calc(10% - 2.5px);
}

.tooltip > .tooltip-text-bottom-center::after {
  left: calc(50% - 2.5px);
}

.tooltip > .tooltip-text-bottom-right::after {
  left: calc(95% - 2.5px);
}

pre.output .tooltip > .tooltip-text::after {
  border-color: rgba(76, 175, 80, 0.8) transparent transparent transparent; /* #4caf50 */
}
